.App {
  text-align: center;
}

.game { 
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
  max-width: 700px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.game div { 
  width: 100%;
  height: 30px;
  color: white;
}
.game .a { 

}
.game .b { 

}
.game .c { 

}
.game .d { 
  background-color: white;
}


/* .game .a { 
  background-color: orange;
}
.game .b { 
  background-color: green;
}
.game .c { 
  background-color: red;
} */

