.App {
  text-align: center;
}
.App h1 { 
  user-select: none;
}

.game { 
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5 ,1fr);
  max-width: 700px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.game div { 
  width: 100%;
  height: 30px;
  color: white;
}
.game .a { 
  background-color: rgb(255, 255, 255);;
}
.game .b { 
  background-color: rgb(255, 255, 254);
}
.game .c { 
  background-color: rgb(255, 255, 253);;
  font-size: 18px;
  font-weight: 700;
}


/* .game .a { 
  background-color: orange;
}
.game .b { 
  background-color: green;
}
.game .c { 
  background-color: red;
} */

